html,body {
	font-family: "Roboto",sans-serif;
}

h1,h2,h3,h4,h5,h6 {
	color: #666;
	font-weight: bold;
	padding: 0;
	clear: left;
	line-height: 1.2;
}

h1 {
	font-size: 1.6em;
	margin: 0 0 .333em;
}

h2 {
	font-size: 1.5em;
	margin: 0 0 .666em;
}

h3 {
	font-size: 1.25em;
	margin: 0 0 .831em;
}

h4 {
	font-size: 1em;
	margin: 0 0 1em;
}

p,div {
	font-size: 14px;
	font-weight: 300;
}

a:link, a:visited {
	color: #090;
	text-decoration: none !important;
}

a:hover {
	text-decoration: underline;
}

.content {
	margin: 2em;
}